body {
  padding: 00px;
  margin: 0px;
  font-family: sans-serif;
}
.main-content {
  margin: 8px;
  padding: 10px;
}

.navbar {
  background-color: darkgray;
  padding: 15px;
}

.movie-container {
  display: flex;
  align-items: center;
}

.movie-link img {
  width: 200px;
}