body {
  padding: 00px;
  margin: 0px;
  font-family: sans-serif;
  background-image: linear-gradient(to right, #fddacc, #ffbba0, #ffbba0, #ffbba0, #ffbba0, #ffbba0, #fddacc);
}
.main-content {
  margin: 8px;
  padding: 5%;
}

.navbar {
  background-color: darkgray;
  padding: 15px;
}

.title {
  text-align: center;
  text-transform: uppercase;
}

.movie-container {
  display: inline-block;
  width: 30%;
  vertical-align: text-top;
  padding: 30px 20px 20px 20px;
  border-radius: 20px;
  background: transparent;
  margin: -120px 0px 0px 0px;
  line-height: 19px;
  font-size: 14px;
  margin-top: 2%;
}

.movie-link {
  text-align: center;
}

.movie-link h3 {
  text-transform: uppercase;
  color: black;
  text-decoration: underline;
}

.movie-link img {
  width: 200px;
  border-radius: 20px;
}

button {
  cursor: pointer;
}